/* CSS declarations go here */

/* Quill styles
-------------------------------------------------- */

.ql-out-bottom {
visibility: initial !important;
}

/* Navbar styles
-------------------------------------------------- */
.navbar {
  margin-bottom: 0;
}

.below-nav {
  margin-top: 20px;
}

.nav-tabs {
  margin-bottom: 20px;
}

/* Navbar footer styles
-------------------------------------------------- */

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #F2EEEE;
  color: #888888;
}

/* Carousel styles
-------------------------------------------------- */

.carousel .item {
  margin-top: -20px;
  height: 300px;
  background: url(/assets/templates/welcome/grass_1darkcrop3blur.jpg);
}

/* Marketing/Featurette styles
-------------------------------------------------- */
.marketing-box {
  margin-bottom: 20px;
  text-align: center;
}
.marketing-box img {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
.featurette {
  color: #5a5a5a;
}

/* Global helper classes
-------------------------------------------------- */
.begin-hidden {
  display:none;
}

.no-padding {
  padding: 0px
}

.no-margin {
  margin: 0px
}

.no-border {
  border-width: 0px
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #f5f5f5;
}

.footer > .container {
  margin: 10px 0;
  padding-right: 35px;
  padding-left: 35px;
}

/* list styles
-------------------------------------------------- */
.no-bullet {
  list-style-type: none;
}

/* task styles
-------------------------------------------------- */
.task-panel {
  margin: 0;
  padding: 0;
}

.task-panel .panel-heading{
  padding: 2px 10px;
}

.task-panel .panel-body{
  padding-top: 10px;
  padding-bottom: 10px;
}

.task-panel .panel-footer {
  padding: 2px 10px;
}

.task-panel hr {
  padding: 0;
  margin: 0.5em 0;
}

.panel-heading-icon {
  font-size: 24px;
  padding-right: 10px;
  line-height: 36px;
}

.task-panel .btn {
  margin: 1px;
}

/* user info styles
-------------------------------------------------- */
.user-info-display {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  padding: 8px;
  margin: 0;
  background: white;
}

.left-container {
  margin: 0 auto 0 0;
  padding-left: 0;
}

/* TODO:  This height doesn't actually extend to the bottom of the screen. Must fix that. */
.left-column {
  height: 100%;
}

/* tiny-accordion
-------------------------------------------------- */

.tiny-accordion ul{
  list-style-type: none;
}

.tiny-accordion .panel{
  margin: 0;
  padding: 0;
  border-width: 0px;
}

.tiny-accordion .panel-heading{
  padding: 2px 10px;
}

.tiny-accordion .panel-heading h5{
  padding: 2px;
  margin: 2px;
}

.tiny-accordion .tiny-expander-icon{
  padding-top: 4px;
  padding-right: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.tiny-accordion .panel-body{
  padding-top: 10px;
  padding-bottom: 10px;
}

