/* CSS declarations go here */

/* Quill styles
-------------------------------------------------- */

.ql-out-bottom {
visibility: initial !important;
}

/* Navbar styles
-------------------------------------------------- */
.navbar {
  margin-bottom: 0;
}

.below-nav {
  padding-top: 20px;
}

.nav-tabs {
  margin-bottom: 20px;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #F2EEEE;
  color: #888888;
}

.visible-xs-block .sidebar-nav {
  padding: 2px 20px;
}

.visible-xs-block .sidebar-nav li {
  display: inline;
  font-size: 24px;
}

.visible-xs-block .sidebar-nav li a {
  display: inline;
  font-size: 24px;
}

.visible-xs-block .sidebar-nav li a .navlink-text{
  display: none;
}


.hidden-xs .sidebar-nav ul {
  float: none;
}

.hidden-xs .sidebar-nav ul:not {
  display: block;
}

.hidden-xs .sidebar-nav li {
  float: none;
  display: block;
  width: 100%
}

.hidden-xs .sidebar-nav li a {
  padding-top: 12px;
  padding-bottom: 12px;
}

/* Carousel styles
-------------------------------------------------- */

.carousel .item {
  margin-top: -20px;
  height: 300px;
  background: url(/assets/templates/welcome/grass_1darkcrop3blur.jpg);
}

/* Marketing/Featurette styles
-------------------------------------------------- */
.marketing-box {
  margin-bottom: 20px;
  text-align: center;
}
.marketing-box img {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
.featurette {
  color: #5a5a5a;
}

.featurette-divider {
  border-color: #222;  
}

/* Global helper classes
-------------------------------------------------- */
.begin-hidden {
  display:none;
}

.no-padding {
  padding: 0px
}

.no-margin {
  margin: 0px
}

.no-border {
  border-width: 0px
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
  min-height: 100%;
  background-color: #e7e7e7;
}

.transparent-list {
  background-color: inherit;
}

.transparent-list li{
  background-color: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #f5f5f5;
}

.footer > .container {
  margin: 10px 0;
  padding-right: 35px;
  padding-left: 35px;
}

/* list styles
-------------------------------------------------- */
.no-bullet {
  list-style-type: none;
}

.big-anchor {
  display: block;
}

/* task styles
-------------------------------------------------- */
.task-panel {
  margin: 0;
  padding: 0;
}

.task-panel .panel-heading{
  padding: 2px 10px;
  cursor: pointer;
}

.task-panel .panel-body{
  padding-top: 10px;
  padding-bottom: 10px;
}

.task-panel .panel-footer {
  padding: 2px 10px;
}

.task-panel hr {
  padding: 0;
  margin: 0.5em 0;
}

.panel-heading-icon {
  font-size: 24px;
  padding-right: 10px;
  line-height: 36px;
}

.task-panel .btn {
  margin: 1px;
}

.task-panel-completed .panel-heading{
  background-color: lightgreen;
}


/* user info styles
-------------------------------------------------- */
.user-info-display {
  padding: 8px;
  margin: 0;
  overflow: hidden;
  color: white;
}

.left-container {
  margin-left: 0px;
  margin-right: auto;
}

/* TODO:  This is a hack!  Find the proper way to do this! */
/* TODO:  Find a way to make the left-column extend to the bottom of the screen on short screens. */
.left-column {
  min-height: 100vh;
  height: 100%;
  max-width: 250px;
  float: left;
  background-color: #222;
}

.main-content {
  height: 100%;
}

/* tiny-accordion
-------------------------------------------------- */

.tiny-accordion ul{
  list-style-type: none;
}

.tiny-accordion .panel{
  margin: 0;
  padding: 0;
  border-width: 0px;
}

.tiny-accordion .panel-heading{
  padding: 2px 10px;
  cursor: pointer;
}

.tiny-accordion .panel-heading h5{
  padding: 2px;
  margin: 2px;
}

.tiny-accordion .tiny-expander-icon{
  padding-top: 4px;
  padding-right: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.tiny-accordion .panel-body{
  padding-top: 10px;
  padding-bottom: 10px;
}

/* blogs
----------------------------------------------- */

.blog-topic .ql-container{
  border: none !important;
}

.blog-comments .ql-container{
  border: none !important;
}

.blog-comments .ql-editor{
  padding-top: 5px;
  padding-bottom: 5px;
}

.blog-comments .blog-comment{
  padding: 5px;
}

.blog-comments .blog-comment:nth-child(odd) {
  background-color: #f5f5f5
}